@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?29570128");
  src: url("../font/fontello.eot?29570128#iefix") format("embedded-opentype"), url("../font/fontello.woff2?29570128") format("woff2"), url("../font/fontello.woff?29570128") format("woff"), url("../font/fontello.ttf?29570128") format("truetype"), url("../font/fontello.svg?29570128#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29570128#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-music:before {
  content: '\e800'; }

/* '' */
.icon-volume-off:before {
  content: '\e801'; }

/* '' */
.icon-trash-empty:before {
  content: '\e802'; }

/* '' */
.icon-edit:before {
  content: '\e803'; }

/* '' */
.icon-play:before {
  content: '\e804'; }

/* '' */
.icon-arrows-cw:before {
  content: '\e805'; }

/* '' */
.icon-cog:before {
  content: '\e806'; }

/* '' */
.icon-left-big:before {
  content: '\e807'; }

/* '' */
.icon-resize-full-alt:before {
  content: '\f0b2'; }

/* '' */
.icon-docs:before {
  content: '\f0c5'; }

/* '' */
body {
  font-family: arial, sans-serif; }

#app {
  width: 100vw;
  height: 100vh;
  min-width: 768px;
  min-height: 400px; }

#top-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: 50px;
  background: #15161b;
  color: white; }
  #top-navigation-bar h1 {
    font-size: 1.2em; }

#exercise-selector {
  display: flex;
  height: 90%; }

.discipline-selector {
  display: flex;
  flex-direction: column;
  background: #555;
  width: 140px; }
  .discipline-selector .select-discipline-btn {
    display: flex;
    align-items: center;
    text-align: center;
    width: 140px;
    height: 140px;
    border-bottom: 1px solid #666;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background: #777;
    font-size: 1.1em;
    cursor: pointer; }
    .discipline-selector .select-discipline-btn:hover {
      background: #7f7f7f; }
  .discipline-selector .select-discipline-btn-active {
    background: #6f6f6f; }

#item-renderer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 50%; }
  #item-renderer .create-new-exercise {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #eee;
    font-size: 1.5em;
    border-bottom: 1px solid #dddfe2;
    padding: 10px; }
    #item-renderer .create-new-exercise .plus-sign {
      font-size: 2.2em;
      margin-left: 5px; }
  #item-renderer #no-exercises-in-discipline-text {
    font-size: 2em;
    color: #dddfe2;
    text-shadow: 1px 1px #bbb;
    text-align: center;
    margin-top: 1em;
    line-height: 1.2em;
    padding: 20px; }
  #item-renderer #exercises {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    #item-renderer #exercises #exercise-list {
      display: flex;
      flex-direction: column; }
      #item-renderer #exercises #exercise-list .btn-selected {
        background: #dbe8ff; }
      #item-renderer #exercises #exercise-list li {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 20px;
        border-bottom: 1px solid #dddfe2; }
        #item-renderer #exercises #exercise-list li:hover {
          background: #dbe8ff; }
        #item-renderer #exercises #exercise-list li .exercise-title {
          flex: 4; }
        #item-renderer #exercises #exercise-list li .delete-edit-buttons {
          display: flex;
          flex: 1;
          flex-direction: row; }
          #item-renderer #exercises #exercise-list li .delete-edit-buttons .btn {
            margin-left: .8em;
            font-size: 1.5em;
            cursor: pointer; }
            #item-renderer #exercises #exercise-list li .delete-edit-buttons .btn:hover {
              color: #5c97ff; }

#exercise-info {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #dddfe2; }
  #exercise-info h2 {
    font-size: 2em;
    margin-bottom: 30px; }

#exercise-creator {
  display: flex;
  flex-direction: row;
  height: 90%;
  box-sizing: border-box; }

#sound-sequence-list {
  display: flex;
  min-width: 50%;
  height: 100%;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #sound-sequence-list li {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px;
    flex-shrink: 0;
    border-bottom: 1px solid #dddfe2; }
    #sound-sequence-list li input[type=checkbox] {
      width: 30px;
      height: 30px;
      margin-left: auto; }

#exercise-data-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border: 1px solid #dddfe2; }
  #exercise-data-input h2 {
    font-size: 1.3em;
    margin-bottom: 20px; }
  #exercise-data-input #harmony-select {
    display: flex;
    margin-bottom: 20px; }
    #exercise-data-input #harmony-select label {
      border: 1px solid #dddfe2;
      padding: 5px;
      width: 100%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer; }
      #exercise-data-input #harmony-select label:first-of-type {
        border-radius: 6px 0 0 6px; }
      #exercise-data-input #harmony-select label:last-of-type {
        border-radius: 0 6px 6px 0; }
    #exercise-data-input #harmony-select input[type="radio"] {
      display: none; }
    #exercise-data-input #harmony-select input[type="radio"]:checked + label {
      background: #01c78a;
      color: white; }
  #exercise-data-input #exercise-title-input {
    margin-bottom: 20px;
    height: 30px; }
  #exercise-data-input textarea {
    margin-bottom: 20px;
    height: 200px; }
  #exercise-data-input #sound-sequences-in-exercise {
    height: 50px;
    border: 1px solid #dddfe2;
    margin-bottom: 20px;
    padding: 10px; }
  #exercise-data-input button {
    height: 50px; }
